.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

ul,
li,
a {
	/* list-style: none; */
	text-decoration: none;
	color: inherit;
}


body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;
	color: #0c3e2e;
}

.title {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 50px;
}

.f {
	font-family: "Balsamiq Sans", sans-serif;

	font-family: "Kaisei Decol", serif;
	font-family: "Manrope", sans-serif;
}


.header {
	background-image: url(../images/header-bg.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	margin-bottom: 150px;
}

.header__inner {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header-top {
	padding-top: 32px;
	display: flex;
	justify-content: space-between;
}

.menu__list {
	display: flex;
	gap: 30px;
}


.menu__link {
	text-transform: uppercase;
	font-size: 16px;
}

.phone {
	color: #bb8a52;
}


.header-content__inner {
	display: flex;
	justify-content: space-between;
	gap: 0 22px;
	align-items: center;
}


.header__title {
	font-size: 48px;
	font-weight: 600;
	margin: 20px 0 80px;
	max-width: 428px;
}

.header-content__text span {
	color: #cc2e2e;
}



.header-content__btn {
	padding: 20px 32px;
	background-color: #ffba00;
	display: inline-block;
	margin-top: 50px;
	font-size: 20px;
}

.header__text {
	font-size: 24px;
	text-align: center;
	padding: 25px 0;
}


/* ****main**** */

/* ****about**** */


.about {
	margin-bottom: 150px;
}

.about__inner {
	display: flex;
	gap: 22px;
	align-items: center;
}

.about__text {
	max-width: 500px;
	margin-bottom: 30px;
}

.about__text span {
	font-family: "Balsamiq Sans", sans-serif;
	font-weight: 400;
	font-size: 24px;
}

.about__inner-title {
	font-size: 28px;
	margin-bottom: 30px;
}

.about__inner-list {
	display: flex;
	gap: 0 30px;
	text-align: center;
	color: #bb8a52;
}

.about__inner-list dt {
	font-size: 48px;
	margin-bottom: 5px;
}


/* ****about**** */



/* ****main**** */


